@charset "utf-8";


.box {width: 300px; height: 300px;  padding: 20px; border: 1px solid #ddd; }
.imgBox { width: 100%; margin: 0;}
.imgBox img { width: 100%;}
.imgBox figcaption {position: relative;}
